<div class="header-singup wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.8s">
  <input
    type="email"
    class="form-control"
    id="email"
    [(ngModel)]="Subscribe.email"
    name="email"
    placeholder="username@yourdomain.com"
  />
    <button mat-button
    (click)="saveSubscribe()"
    (click)="openSnackBar('Subscribed Successfully!', 'close')"
    [disabled]="!Subscribe.email"
    class="main-btn"
    (click)="Subscribe.email = null; Subscribe.email = null;"
    value="Reset">Subscibe</button>


</div>
