:host ::ng-deep {
    mat-slide-toggle div.mat-slide-toggle-thumb-container{
      z-index: 0;
    }
  }
.selected {
    font-weight: 600;
}
.spacer {
    flex: 1 1 auto;
  }
.camera-tb {
    position: fixed;
    bottom: 0;
}
.save-tb {
    position: fixed;
    bottom: 0;
}
.select-filter-tb {
    position: sticky;
    top: 0;
    margin-top: -30px;    
}

.filterPicker {
    display: flex;
    overflow-x: auto;
}
.filterPicker div#preview {
    margin: 5px;
    padding-bottom: 20px;
    width: 200px;
    height: auto;
}
.filterPicker::-webkit-scrollbar {
    display: none;
}