{% extends "_base.html" %}
{% load static i18n %}
{% load thumbnail %}
{% load humanize thumbnail %}

{% block title %}{{ object.username }}{% endblock %}

{% block head %}
<!--  <link href="{% static 'css/user_profile.css' %}?v=1" rel="stylesheet"> -->
<style>
  footer{
    display: none;
  }
</style>
{% endblock head %}

{% block content %}


{% include 'includes/profile.html' %}
{% if request.user.username == object.username %}
{% include 'includes/user_pro_count.html' %}
{% endif %}

{% endblock content %}

{% block javascript %}
<script src="{% static 'js/jquery.waypoints.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/infinite.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/follow.js' %}" type="text/javascript"></script>
{% endblock javascript %}




